.comment-section {
    
}

.comment-section-interaction {
    height: 50px;
    width: 100%;
}

.comment-section-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 15%;
}

.fa-heart, .fa-comment {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.comment-section-likes {
    border: 2px solid blue;
}

.likes-display {
    color: black;
}

.comment-input-container{

}

.comment-input {
    padding-left: 10px;
}

.comment {
    background-color: aqua;
}