.comment-section {
    
}

.comment-section-interaction {
    background-color: pink;
    height: 50px;
    width: 100%;
}

.comment-section-icons {
    border: 2px solid yellow;
    height: 25px;
    width: 100%;
}

.fa-heart, .fa-comment {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.comment-section-likes {
    border: 2px solid blue;
}

.likes-display {
    color: black;
}